@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-mont bg-light text-dark w-full min-h-screen;
  }

  html {
    scroll-behavior: smooth;
  }

  .dark body {
    @apply bg-dark text-light;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px black;
  }

  .text-outline-white {
    -webkit-text-stroke: 1px white;
  }
}
